<h2>Create Job Posting</h2>
<form [formGroup] = "jobApplicationForm" (ngSubmit) = "submitJobPosting()">
        <div class="form-group"> 
            <label for = "title">Job Title</label>
            <input id ="title"  formControlname = "title" required>
        </div>
        <div class="form-group">
            <label for = "department">Job Title</label>
            <input id = "department"  formControlname = "department" required>
        </div>
        <div class="form-group">
            <label for = "location">Location</label>
            <input id = "location"  formControlname = "location" required>
        </div>
        <div class="form-group">
            <label for = "responsibilities">Responsibilities</label>
            <textarea id = "responsibilities" formControlname = "responsibilities" ></textarea>
        </div>
        <div class="form-group">
            <label for = "qualifications">qualifications</label>
            <textarea id = "qualifications" formControlname = "qualifications"></textarea>
        </div>
        <div class="form-group">
            <label for = "applicationDeadline">Application Deadline</label>
            <input id = "applicationDeadline"  formControlname = "applicationDeadline" required >
        </div>
        <button type = "submit" [disabled] ="!jobApplicationForm.valid">Submit</button>        
</form> 